*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mainMenuTitle;
    src: url(./assets/fonts/AbrilFatface-Regular.ttf);
  }

:root {
    font-size: 16pt;
    line-height: 1;
    font-family: mainMenuTitle;
    background-color: rgb(250, 201, 141);
    color: rgb(63, 35, 0);
    
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    height: 100%;
    width: auto;
}

.prompt {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 10px;
}
